
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'ubuntu';
    outline: none;
    transition: 0.2s;
}
:root{
    --scale: 1.3;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 240, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(85, 85, 85);
}
.addData ,.addColumn{
    max-width: 60%;
    margin: 15px;
    transform: scale(var(--scale));
    display: flex;
    flex-direction: column;
}

#chart{
    margin-top: 30px;
    width: 90%;
}
input::placeholder{
    font-size: 16px;
}
input{
    text-align: center;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    border: 1px solid #555;

}
input:focus{
    box-shadow: 2px 2px 2px rgb(177, 236, 82);
}
#column{
    width: 280px;
}
select:hover{
    box-shadow: 2px 2px 2px rgb(143, 56, 128);
}
select option{

    border-radius: 10px;
    border: 1px solid #444;
    color: #444;
    background: rgb(255, 255, 255);
}
select{
    pad: 3px;
    margin: 5px;
    border: 1px solid #354; 
    border-radius: 10px;
    padding: 4px;
    color: #444;
    background: rgb(255, 255, 255);
}
button{
    margin-left: 20px;
    background: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #555;
    color: #333;
    transition: 0.2s;
}
button:hover{
    box-shadow: 2px 2px 3px rgb(240, 82, 82);
    background: rgb(23, 30, 71);
    color: #fff;

}